<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.chinasoft.myweb.mapper.OrderMapper">
<select id="findTotal" resultType="int" parameterType="pageBean">
	select count(*) from `order` WHERE uid ="${uid}"
</select>
<select id="findAll" resultType="order" parameterType="pageBean">
	SELECT * FROM `order` WHERE uid="${uid}"  limit #{pageBegin},#{pageSize}
</select>
</mapper>